* {
  font-family: Verdana;
}

QToolButton {
  font-weight: bold;
  padding: 1px;
}

#video_half { background: black; }

/* record button */
#record {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                              stop: 0.0 #fff,
                              stop: 0.1 #f0a0a0,
                              stop: 0.5 #ffafaf,
                              stop: 1.0 #ff0000);
  color: #633;
}

QGroupBox {
  font-size: 10px;
  margin-top: 15px;
  padding: 0 4px;
  border: none;
}

QGroupBox[active_state="2"] {
  font-weight: bold;
  background: #d0e0d0;
  padding: 4px;
  border-radius: 4px;
}

QGroupBox::title {
  subcontrol-origin: margin;
  subcontrol-position: top left;
  padding: 0 3px;
  margin-left: 5px;
  margin-top: 2px;
}

QGraphicsView {
  border: 1px solid #777;
  color: #777;

}
QGraphicsView[editMode="false"] {
  color: #bbb;
}

StoryBoard {
  qproperty-tickHeight: 6; /* pixels */
  qproperty-thumbMargin: 5; /* pixels */
}

QGraphicsView[editMode="true"] {
  background-color: #afa;
  alternate-background-color: #9e9;
}

/* tab bar */
QTabBar::tab {
  font-size: 10px;
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                              stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                              stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
  border: 1px solid #9B9B9B;
  border-bottom: 2px solid #C4C4C3;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

QTabBar::tab:selected,
QTabBar::tab:hover {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                              stop: 0 #afa,
                              stop: 0.2 #efe,
                              stop: 0.5 #f7f7f7,
                              stop: 1.0 #ddd);
}

QTabBar::tab:selected {
  font-weight: bold;
  border-width: 2px;
  border-bottom-color: #ddd;
}

QTabBar::tab:!selected {
  margin-top: 4px; /* make non-selected tabs look smaller */
}

/* Splitter */
QSplitter::handle {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                              stop: 0 #ddd, stop: 0.5 #fff, stop: 1 #eee);
}

#sampleNameEdit {
  background: rgba(0,0,0,50);
  color: rgba(255,255,255,255);
  border: 2px solid rgba(255,255,255,200);
  border-radius: 6px;
}

#sampleNameEdit[acceptableInput="false"] {
  background: rgba(255,0,0,100);
  color: rgba(0,0,0,255);
}
